.login {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 420px;
  min-height: 100%;
  margin: 0 auto;
  justify-content: center;
}

.login__logo {
  width: min(320px, 80%);
  height: auto;
  margin: 0 auto;
}

.login__fields {
  margin-bottom: 16px;
  border-radius: 12px;
}
