<ion-content class="ion-padding">
  <main class="login">
    <img
      class="login__logo"
      ngSrc="assets/logo.png"
      width="655"
      height="283"
      priority
      alt="Ricettario"
    />

    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-list lines="full" class="login__fields">
        <ion-item>
          <ion-input
            label="Username"
            labelPlacement="floating"
            formControlName="username"
            autocomplete="username"
            autocapitalize="off"
            errorText="Inserisci lo username"
          />
        </ion-item>
        <ion-item>
          <ion-input
            label="Password"
            labelPlacement="floating"
            type="password"
            formControlName="password"
            autocomplete="current-password"
            errorText="Inserisci la password"
          >
            <ion-input-password-toggle slot="end" />
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-button type="submit" expand="block" [disabled]="sending()">Accedi</ion-button>
      <!-- Invio da tastiera anche dal campo password -->
      <button type="submit" hidden></button>
    </form>
  </main>
</ion-content>
