<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Composizione tabelle tecniche
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="print()" [disabled]="ricetteList.length === 0"><ion-icon style="font-size: 25px" name="print"></ion-icon></ion-button>
      <ion-button (click)="nuovaRicetta()"><ion-icon style="font-size: 25px" name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-card *ngFor="let ricetta of ricetteList" style="cursor: pointer"  >
      <ric-ricetta-scheda-tecnica [cod_p]="ricetta.ricettaid"></ric-ricetta-scheda-tecnica>
    </ion-card>
  </ion-list>
</ion-content>
