<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Lista file</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="nuovoFile()"><ion-icon style="font-size: 25px" name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col>
      <ion-searchbar type="text" placeholder="Cerca un file" [(ngModel)]="ricerca.searchText" ></ion-searchbar>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="estrazioneDocumenti($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="updateFileOrdinamento($event)">
        <ion-card *ngFor="let item of ricerca.documentiList | archiviodocumento:ricerca.searchText" style="cursor: pointer"  >
          <ion-reorder slot="start" style="position: fixed;padding-top: 10px;"></ion-reorder>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="9">
              <p>{{item.arc_nome | noextension}}</p>
            </ion-col>
            <ion-col size="1" padding-top>
              <ion-icon name="cloud-download" color="dark" (click)="download($event, item)"></ion-icon>
            </ion-col>
            <ion-col size="1" padding-top>
              <ion-icon name="trash" color="danger" (click)="delete($event, item)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>
    </ion-reorder-group>
  </ion-list>

</ion-content>
