<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{listino?.descrizione}}</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="print()"><ion-icon name="print" title="Stampa"></ion-icon></ion-button>
      <ion-button *ngIf="gs.isDesktop()" (click)="nuovoFromIngrediente()">Ing<ion-icon name="add-circle-outline" title="Aggiungi Ingrediente"></ion-icon></ion-button>
      <ion-button *ngIf="gs.isDesktop()" (click)="nuovoFromSchedaTecnica()">ST<ion-icon name="add-circle-outline" title="Aggiungi Scheda Tecnica"></ion-icon></ion-button>
      <ion-button *ngIf="gs.isDesktop()" (click)="nuovoFromMenu()">Menù<ion-icon name="add-circle-outline" title="Aggiungi Ingrediente"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
      <ion-col>
        <ion-searchbar type="text" placeholder="Cerca un ingrediente" [(ngModel)]="ricerca.searchText" ></ion-searchbar>
      </ion-col>
      <ion-col size="3" style="padding-left: 0;margin-left: 0">
        <select name="tipo" class="center" style="width: 100%;padding: 8px 8px 8px 0;margin: 8px 8px 8px 0" [(ngModel)]="ricerca.categoria" (ngModelChange)="getListinoRighe(null)" >
          <option value="0">Tutte</option>
          <option value="999">Senza Categoria</option>
          <option *ngFor="let categoria of categorieList" [ngValue]="categoria.id">{{categoria.descrizione}}</option>
        </select>
      </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="getListinoRighe($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-card *ngFor="let riga of ricerca.righeList | descrizione:ricerca.searchText"  >
      <ion-card-content>
        <ion-row>
          <ion-col size="2">
            {{riga.descrizione}}
            <!--<br *ngIf="riga.categoriaid">
            <ion-badge *ngIf="riga.categoriaid" color="success">{{riga.categorianome}}</ion-badge>-->
          </ion-col>
          <ion-col size="2">{{riga.scarto | number:'1.1-2'}}%</ion-col>
          <ion-col size="2">{{riga.grammatura | number:'1.1-2'}}g</ion-col>
          <ion-col size="1">{{riga.prezzo | number:'1.1-2'}}€</ion-col>
          <ion-col size="2">{{riga.kcal | number:'1.1-2'}}kcal</ion-col>
          <ion-col size="1" style="cursor: pointer">
            <ion-icon name="information-circle-outline" color="dark" (click)="riga.infoVisible = !riga.infoVisible" ></ion-icon>
          </ion-col>
          <ion-col size="1" style="cursor: pointer">
            <ion-icon name="create" color="dark" (click)="edit($event, riga)"></ion-icon>
          </ion-col>
          <ion-col size="1" style="cursor: pointer">
            <ion-icon name="trash" color="danger" (click)="delete($event, riga)"></ion-icon>
          </ion-col>
          <span *ngIf="riga.infoVisible && riga.categoriaid"><ion-badge color="secondary">{{riga.categorianome}}</ion-badge></span><p></p>
          <span *ngIf="riga.infoVisible && riga.provenienza" style="font-style: italic;"><strong>Provenienza:</strong> {{riga.provenienza}}</span>
          <span *ngIf="riga.infoVisible" style="font-style: italic;" [innerHTML]="riga.ricette"></span>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
